@model Reading.Models.User
@{
    ViewBag.Title = "modUserPassword";
}
<style>
    #ee {
        width: 1px;
        height: 900px;
        background-color: #808080;
        margin-left: -200px;
        margin-top: -79px;
    }

    .div-inline {
        display: inline;
        position: absolute;
        margin-top: -110px;
    }

    #hhh {
        margin-left: -330px;
        position: absolute;
        margin-top: 90px;
    }

    .col-md-8 {
        position: absolute;
        margin-top: -850px;
    }

    #ww {
        margin-left: -122px;
        font-size: 20px;
    }

    #aa {
        margin-left: -162px;
    }

    #dd {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: #71d9fb;
    }
</style>
<script language="javascript">

    //判断旧密码是否为空

    function check() {

        var txtpwd = $("txtPassword").val();
        if (txtpwd.trim() == "") {
            alert("旧密码不能为空");
            return false;
        }


        var txtpwd1 = $("#txtPassword1").val().trim();
        var txtpwd2 = $("#txtPassword2").val().trim();

        if ((txtpwd1 == txtpwd2) && (txtpwd1 != "") && (txtpwd2 != "")) {
            return true;
        }
        alert("前后两次输入的密码为空或不一致，请从新输入！");
        return false;
    }
    //    })


    //})

</script>


<div>
    <div style="margin:364px;margin-top:154px">
        <a href="/Personal/Personal" style="font-size:20px;" id="hhh">我的书架</a><br /><br /><br />
        <a href="/Register/modUserPassword" style="font-size:20px;" id="hhh">修改密码</a>
        <hr id="ee" />
        @*<div class="col-md-8">
            *@
            <form method="post" id="form1" onsubmit="return check()">

                @*@Html.AntiForgeryToken()*@

                <div class="col-md-8">
                    <h4>修改个人密码</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.userId)

                    <div class="form-group">
                        <label for="txtPassword1" class="control-label ">旧密码</label>

                        <div class=""><a style="color:red; "> @Session["Password"]</a>
                            @Html.Editor("txtPassword", new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtPassword1" class="control-label ">新密码</label>

                        <div class="">
                            @Html.Editor("txtPassword1", new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtPassword2" class="control-label ">确认密码</label>
                        <div class="">
                            @Html.Editor("txtPassword2", new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label for="txtPassword1" class="control-label col-md-2">新密码</label>

                        <div class="col-md-10">
                            @Html.Editor("txtPassword1", new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtPassword2" class="control-label col-md-2">确认密码</label>
                        <div class="col-md-10">
                            @Html.Editor("txtPassword2", new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="提交" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </form>
            @*
        </div>*@


    </div>
</div>

@*@using (Html.BeginForm("modMemberPassword", "MemberOn", FormMethod.Post, new { id="form1"}))*@


