<br>
<br>
<br>
<br>
<br>
<br>
<br>
@model IEnumerable<Reading.Models.Book>
    <center>
    @using (Html.BeginForm())
    {
        <p>
            <div class="form-group"style="margin-left:215px;">

                @*@Html.Label(" ", htmlAttributes: new { @class = "control-lable col-md-2 col-md-offset-5" })*@

                <div class="col-md-3 ">
                    @Html.TextBox("SearchString", "", new { @class = "form-control" })  &nbsp;
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary ">查询</button>
                </div>
            </div>
        </p>

    }
</center>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.RealeaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.RealeaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>*@
            <td>
                @Html.ActionLink("阅读书籍", "Edit", new { id = item.bookId }) |
                @Html.ActionLink("加入书架", "Details", new { id = item.bookId }) |
              
            </td>
        </tr>
    }

</table>
