@model Reading.Models.Book
@*@model IEnumerable<Reading.Models.Book>*@
@{
    ViewBag.Title = "ShowBookInfo";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<script>
    function addSuccess() {
        alert("添加书架成功！");
    }

    function addFailure(xhr) {
        alert("添加书架失败(HTTP状态码：" + xhr.status + ")");
    }

</script>

@{
    var ajaxOption = new AjaxOptions()
    {
        OnSuccess = "addSuccess",
        OnFailure = "addFailure",
        HttpMethod = "Post"
    };
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <style>
        ul, p {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        .box {
            width: 500px;
            margin: 100px auto;
        }

            .box .img {
                float: left;
            }

                .box .img img {
                    width: 200px;
                    height: 200px;
                }

            .box .list {
                float: left;
                width: 200px;
                margin-left: 20px;
                display: inline;
            }

                .box .list li {
                    line-height: 50px;
                    font-size: 14px;
                }

        .list li span {
            font-weight: bold;
        }

        #1 {
            margin-right: 100px;
        }
    </style>
</head>




<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="box" id="1">
        <div>
            <div class="img">
                <img src=@Html.DisplayFor(model => model.image) alt="巨星从业者" style="height:200px; width:170px;" />
            </div>
            <ul class="list">
                <li></li>
                <li>
                    <span>类别：</span>
                    @Html.DisplayFor(model => model.classify)
                </li>
                @*<li><span>书名：</span>巨星从业者</li>*@
                <li>
                    <span>书名：</span>
                    @Html.DisplayFor(model => model.bookName)
                </li>
                <li>
                    <span>作者：</span>@Html.DisplayFor(model => model.author)
                    <br />
                    <br />
                  

                    <form id="form3" name="form3" method="post" action="">
                    
                        @Html.ActionLink("阅读此书", "ReadBook", new { id = Model.bookId })&nbsp;&nbsp;
                      
                       @Html.ActionLink("加入书架", "Create", new { id = Model.bookId })
                    </form>

                </li>
            </ul>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <div id="2" style="width:700px;height:900px">
            <p style="font-size:20px;">图书信息</p>
            <HR color=#987cb9 SIZE=0 />
            <p>
                @Html.DisplayFor(model => model.introduction)
            </p>

        </div>
    </div>

</body>
</html>
